[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
duckduckgo-search = "==7.5.5"
pkommand = {git = "https://github.com/berquerant/pkommand.git", ref = "0.4.1"}
wikipedia = "*"
langchain-openai = "==0.3.8"
langchain = "==0.3.21"
langchain-community = "==0.3.19"
tavily-python = "*"
beautifulsoup4 = "*"
tiktoken = "==0.9.0"

[dev-packages]
pytest = "*"
black = "*"
tox = "*"
mypy = "*"
setuptools = "*"
ruff = "*"

[requires]
python_version = "3.12"

[scripts]
check = "tox run-parallel -m check --parallel-no-spinner --parallel-live"
test = "tox run-parallel -m test --parallel-no-spinner --parallel-live"
ci = "tox run-parallel -m ci --parallel-no-spinner --parallel-live"
dev = "pip install --editable ."
install = "pip install ."
dist = "python setup.py sdist"
